<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Chromozomes Network Pvt. Ltd.</div>
                                        <div class="h6 mt-0 title">Digital Marketing Executive (March,2019-Present)</div>
                                        <p align="justify">Chromozomes is a 360-degree Digital Marketing Agency Based in Bangalore. We provide solutions for Lead Generation and Brand Awareness through Social Media Marketing, SEO, SEM, Google Adwords, Mobile App Marketing, Movie Marketing, Political Image Management, Public Relation News and E-Mail Marketing, Content Marketing and more.</p>
                                        <p align="justify">Worknig as Digital Marketing Executive with marketing team</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Web Development</li>
                                                <li class="non_list">Social Media Marketing(SMM)</li>
                                                <li class="non_list">SEO Analysis</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Node JS</li>
                                                        <li class="non_list">Google Adwords</li>
                                                        <li class="non_list">FB ADs</li>
                                                        <li class="non_list">Google Analytics</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Git</li>
                                                        <li class="non_list">Ubersuggest</li>
                                                        <li class="non_list">SEO Meta</li>
                                                        <li class="non_list">Keywordeverywhere</li>
                                                        <li class="non_list">Iwebchek</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Kumar Associates</div>
                                        <div class="h6 mt-0 title">Digital Marketing Intern (August,2019-March,2019)</div>
                                        <p align ="justify">Worked as a digital marketing trainee to analyzie and visulalization of website and social media of real estate.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">SMM</li>
                                                <li class="non_list">SEO</li>
                                                <li class="non_list">GMB</li>
                                            </ul>
                                            <li class="list">Tools</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Ubersuggest</li>
                                                        <li class="non_list">Ahrefs</li>
                                                        <li class="non_list">Iwebchek</li>
                                                        <li class="non_list">Keywordsplanner</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">SEOQuake</li>
                                                        <li class="non_list">Google Analytics</li>
                                                        <li class="non_list">SEO Meta</li>
                                                        <li class="non_list">Google Adwords</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        